body,
html {
	font-family: 'Roboto', sans-serif;
	height: 100%;
	background: linear-gradient(180deg, #FFF 0%, #ffe8b7 100%) no-repeat;
}

.container {
	max-width: 80%;
	min-height: 80%;
	padding: 5px;
	border: 2px solid transparent;
	/* Устанавливаем начальную ширину и стиль границы */
	border-image: linear-gradient(to right, #ff0000, #00ff00);
	/* Устанавливаем градиентное изображение в качестве границы */
	border-image-slice: 1;
	/* Режим растяжения градиента */
	margin: auto auto;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
}

.app-title {
	text-align: center;
}

.app-subtitle {
	margin: 0;
	margin-bottom: 30px;
	text-align: center;
}

.suggestion {
	text-align: center;
	font-style: italic;
	flex-basis: 70px;
}


.suggestion-button {
	--bg: #e74c3c;
	--text-color: #fff;
	position: relative;
	width: 230px;
	border: none;
	background: var(--bg);
	color: var(--text-color);
	padding: 1em;
	font-weight: bold;
	text-transform: uppercase;
	transition: 0.1s;
	border-radius: 5px;
	opacity: 0.8;
	letter-spacing: 1px;
	box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
}

.suggestion-button:hover {
	opacity: 1;
}

.suggestion-button:active {
	top: 4px;
	box-shadow: #c0392b 0px 3px 2px, #000 0px 3px 5px;
}